<div class="container-fluid">
  <div class="row header">
      <div class="col-md-4 headusuario">
          <img class="avatar" src="img/avatarmujer.png">
          <div class="nombreusuario">Usuario</div>
          <button type="button" id ="salir-aplicacion"class="btn btn-dark">Salir</button>
      </div>
      <div class="col-md-8 logotipo">
        <div class="textodeayuda">AGREGA UN PROPÓSITO
                   <button id="agregar-proposito" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">+</button>                

        </div>

      </div>

  </div>
  
  <div class="row main">
      <div class="col-md-4 aside">      
               <div id='calendar'></div>        
      </div>

      <div class="col-md-8 general">
            <div class="row propositos">
                <div class="row espaciotitulo">
                    <h1>Mis propósitos</h1>

                </div>

              <!-- Inicio Modal Propósitos -->
                <div class="modal " id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agrega un propósito</h4>
                            </div>
                           

                            <!-- Formulario de propósito -->
                            <div id="div-form-proposito" class="modal-body">
                              
                              <form id="form-proposito">
                                  <div class="form-group">
                                    <label for="llenar-proposito">Propósito</label>
                                    <input id="llenar-proposito" class="form-control"  placeholder="propósito">
                                  </div>

                                  <div class="form-group">
                                      <label for="seleccionar-categoria">Categoría</label>
                                      <select class="form-control" id="seleccionar-categoria">
                                        <option value="1">Viajes</option>
                                        <option value="2">Salud</option>
                                        <option value="3">Trabajo</option>
                                        <option value="4">Social</option>
                                      </select>
                                  </div> 
                             
                                  {{!-- <div class="form-group">
                                    <label for="llenar-comentarios">Descripción</label>
                                    <textarea id="llenar-comentarios" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                  </div> --}}
                              </form>

                              <div class="modal-footer">
                                  <button id="boton-registro" type="submit" class="btn btn-default">Guardar</button>
                                  <button id="cancelar-llenado-proposito" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              </div>

                            </div>

                        </div>
                    </div>
                </div>
              {{!-- Cierre Modal Propósitos--}}


              <!-- Inicio Modal ToDo -->
                <div class="modal " id="myModal2" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agrega una acción para lograr el propósito</h4>
                            </div>
                            <!-- Formulario de ToDo-->
                            <div id="div-form-todo" class="modal-body">
                              
                              <form id="form-todo">
                                  <div class="form-group">
                                    <label for="llenado-proposito-todo">Tu propósito</label>
                                    <input disabled id="llenado-proposito-todo" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                    <label for="llenar-todo">Acción</label>
                                    <input id="llenar-todo" class="form-control"  placeholder="Acción">
                                  </div>
<<<<<<< HEAD
                                  Selecciona No Recurrente si es una acción que no se repetirá, o marca 1 solo día de la semana para una acción repetida.
                                  <br><br>
                                 
                                  <div class="form-check2 col-md-5">
                                    <input class="form-check-input2" type="checkbox" value="10" id="norecurrente">
                                    <label class="form-check-label2" for="norecurrente">No recurrente</label>
                                 
                                    <input class="form-check-input" type="checkbox" value="1" data-dia="Lunes" id="L">
                                    <label class="form-check-label" for="L">Lunes</label>
                                    <input class="form-check-input" type="checkbox" value="2" data-dia="Martes" id="M">
                                    <label class="form-check-label" for="M">Martes</label>
                                    <input class="form-check-input" type="checkbox" value="3" data-dia="Mièrcoles" id="Mi">
                                    <label class="form-check-label" for="Mi">Miércoles</label>
                                    <input class="form-check-input" type="checkbox" value="4" data-dia="Jueves" id="J">
                                    <label class="form-check-label" for="J">Jueves</label>
                                    <input class="form-check-input" type="checkbox" value="5" data-dia="Viernes" id="V">
                                    <label class="form-check-label" for="V">Viernes</label>
                                    <input class="form-check-input" type="checkbox" value="6" data-dia="Sábado" id="S">
                                    <label class="form-check-label" for="S">Sábado</label>
                                    <input class="form-check-input" type="checkbox" value="0" data-dia="Domingo" id="D">
                                    <label class="form-check-label" for="D">Domingo</label>
                                  </div>

=======

                                 
                                  <div class="form-check2 col-md-5">
                                    <input class="form-check-input2" type="checkbox" value="0" id="norecurrente">
                                    <label class="form-check-label2" for="norecurrente">No recurrente</label>
                                 
                                    <input class="form-check-input" type="checkbox" value="1" data-dia="Lunes" id="L">
                                    <label class="form-check-label" for="L">Lunes</label>
                                    
                                    <input class="form-check-input" type="checkbox" value="2" data-dia="Martes" id="M">
                                    <label class="form-check-label" for="M">Martes</label>
                                    <input class="form-check-input" type="checkbox" value="3" data-dia="Mièrcoles" id="Mi">
                                    <label class="form-check-label" for="Mi">Miércoles</label>
                                    <input class="form-check-input" type="checkbox" value="4" data-dia="Jueves" id="J">
                                    <label class="form-check-label" for="J">Jueves</label>
                                    <input class="form-check-input" type="checkbox" value="5" data-dia="Viernes" id="V">
                                    <label class="form-check-label" for="V">Viernes</label>
                                  </div>

>>>>>>> 8d518ff82f20a65219be7de9542adef7fbcf470c
                                  <br><br>
                                  
                                  <div class="col-md-5 actionpage">
                                    <form action="/action_page.php">
                                      <label for="fecha-inicio">Fecha de inicio</label>
                                      <input id="fecha-inicio" type="datetime-local" name="bdaytime">
                                      <br><br>
                                      <label for="fecha-termino">Fecha de término</label>
                                      <input id="fecha-termino" type="datetime-local" name="bdaytime">
                                      {{!-- ESTO ES SUBMIT DEL DATETIMEPIKER <input type="submit" value="Send"> --}}
                                    </form>
                                  </div>
                                  
                                  {{!-- <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="0" id="obligatorio">
                                    <label class="form-check-label" for="obligatorio">Obligatorio</label>
                                  </div> --}}
            
                              </form>

                              <div class="modal-footer">
                                  <button id="boton-registro-todo" type="submit" class="btn btn-outline-light">Guardar</button>
                                  <button id="cancelar-llenado-todo" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              </div>

                            </div>

                        </div>
                    </div>
                </div>
              {{!-- Cierre Modal ToDo--}}


                {{!-- Sección Mis Propósitos. Se llena con lo que tenga la base de datos --}}
                  <div class="col-md-10 listadoproposito">
                    <div id="elproposito" class="row elproposito">
                     
                    </div>
                  </div>
                  {{!-- ESTO PARA UNA SIGUIENTE FASE, MUESTRA BARRA DE PROGRESO PARA CUMPLIR UN PROPÓSITO --}}
                  {{!-- <div class="col-md-4 barraprogreso"> --}}
                    {{!-- <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div> --}}
                  {{!-- </div> --}}
               
                     
            </div>

            <div class="row current">
                <div class="row espaciotitulo">
                  <h1 class="titulocurrent">Detalle</h1>
                </div>
                <div class="col-md-12 todos">
                    <div id="current2" class="col-md-12 current2"> 
                      {{!-- <span class="badge badge-pill badge-primary">1</span> 
                      <p id="titulo-proposito-select"class="h2parrafo">.</p> --}}
                      <div id="current2-titulo" class="h2parrafo"></div>
                      <div id="current2-listado"></div>
                      {{!-- 
                      <ul>
                        <li class="h3parrafo"></li>
                      </ul> 
                      --}}
                    </div>
                </div>
            </div>
      </div>
  </div>



</div>



<script src="/js/index.js"></script>
<script src="/js/aplicacion.js"></script>

{{!-- Este script es el que hace el vínculo base de datos-calendario Full Calendar --}}
<script>
  $(document).ready(function() {
   
 //   $("body").on("click", ".h8parrafo",function(){
 //     color= 'red';
 //     console.log("color",color);
       
<<<<<<< HEAD
   
=======
     // hacerget();
>>>>>>> 8d518ff82f20a65219be7de9542adef7fbcf470c
  //
  //  })


<<<<<<< HEAD
  var terciaria = []; //Almacena el objeto en un formato aceptable para FullCalendar
  //  var color=''

  var url= window.location.href; //obtengo el valor del usuario del url, porque yo se lo puse ahí desde el login.js
  var idusuarioactual= url.split('aplicacion').pop().split('?')[0]
  console.log("id del usuario actual", idusuarioactual)

      
  hacerget();

  function hacerget(){
    $.get("/api/todosidusuario/" + idusuarioactual, function(data) {      
=======
    var terciaria = []; //Almacena el objeto en un formato aceptable para FullCalendar
    var color=''

      
  hacerget();

  function hacerget(){
    $.get("/api/todos", function(data) {      
>>>>>>> 8d518ff82f20a65219be7de9542adef7fbcf470c
      for (var i = 0; i < data.length; i++) {
    
        //console.log("rrrr",[data[i].recurrente])
            terciaria[i] = {
                title: data[i].title,
                start: data[i].start,
                end: data[i].end,
                dow: [parseInt(data[i].recurrente)],
<<<<<<< HEAD
              //  color: color
=======
                color: color
>>>>>>> 8d518ff82f20a65219be7de9542adef7fbcf470c
            };
        }
    }).then(laultima)//fin getapi
  }


    function laultima(){
        
<<<<<<< HEAD
       // console.log("color",color);
=======
        console.log("color",color);
>>>>>>> 8d518ff82f20a65219be7de9542adef7fbcf470c
        console.log("terciaria",terciaria);
  
        $('#calendar').fullCalendar({
            eventColor: '#4aad2a',
            height: 'auto', // Indispensable para poder acomodarlo visualmente
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,basicWeek,basicDay',
            },
            defaultDate: '2018-11-01',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events:  terciaria,
            
            //Este es el expected format ouput
            //  [{
            //    title: titulo,
            //    start: inicio,
            //    end:fin
            //  }]
           
        });//fin fullCalendar
    }//fin funcion laultima
        
    //Esto logra un resultado similar al que hice con el loop, se deja como referencia
    //elobjeto.push({title: titulo, start:inicio, end:fin});


  });//fin document ready
</script>


<style>
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
</style>