
<div class="col-md-12 container">
  <div class="row header">

  </div>
  
  <div class="row main">
      <div class="col-md-4 aside">
            <div class="row todos">
                <div class="row espaciotitulotodos">
                  <h1 class="titulotodos">Lo que haré</h1>
                </div>
                <div class="listatodos">
                  <p class="h2parrafo">Hacer ejercicio</p>
                  <p class="h3parrafo">Definir el tipo de ejercicio que haré</p>
                  <p class="h3parrafo">Comprar ropa de deporte</p>
                  <p class="h3parrafo">Hacer horario para ejercitar</p>
                </div>
            </div>
            <div class="row calendar">
                <h1 class="titulocalendar">Calendar</h1>
            </div>
      </div>

      <div class="col-md-8 general">
            <div class="row propositos">
                <div class="row espaciotitulo">
                    <h1>Mis propósitos</h1>
                </div>
                <div class="col-md-8 listaproposito">
                  <p class="hparrafo">Hacer ejercicio</p>
                  <p class="hparrafo">Cambiar de trabajo</p>
                  <p class="hparrafo">Irme de viaje</p>

                </div>
                <div class="col-md-4 check">
                  completed
                </div>
            </div>
            <div class="row current">
                <div class="row espaciotitulo">
                  <h1 class="titulocurrent">Hoy toca</h1>
                </div>
                <div class="col-md-4 current2">
                  <div class="diaC">25</div> <div class="mesC">MAYO</div>
                </div>
            </div>
      </div>
  </div>



</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
