
<div class="col-md-12 container">
  <div class="row header">

  </div>
  
  <div class="row main">
      <div class="col-md-4 aside">
            <div class="row todos">
                <div class="row espaciotitulotodos">
                  <h1 class="titulotodos">Lo que haré</h1>
                </div>
                <div class="listatodos">
                  <p class="h2parrafo">Hacer ejercicio</p>
                  <p class="h3parrafo">Definir el tipo de ejercicio que haré</p>
                  <p class="h3parrafo">Comprar ropa de deporte</p>
                  <p class="h3parrafo">Hacer horario para ejercitar</p>
                </div>
            </div>
            <div class="row calendar">
               <div id='calendar'></div>

            </div>
      </div>

      <div class="col-md-8 general">
            <div class="row propositos">
                <div class="row espaciotitulo">
                    <h1>Mis propósitos</h1>
                </div>
                <div class="col-md-8 listaproposito">
                  <p class="hparrafo">Hacer ejercicio</p>
                  <p class="hparrafo">Cambiar de trabajo</p>
                  <p class="hparrafo">Irme de viaje</p>

                </div>
                <div class="col-md-4 check">
                  completed
                </div>
            </div>
            <div class="row current">
                <div class="row espaciotitulo">
                  <h1 class="titulocurrent">Hoy toca</h1>
                </div>
                <div class="col-md-4 current2">
                  <div class="diaC">25</div> <div class="mesC">MAYO</div>
                </div>
            </div>
      </div>
  </div>



</div>


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/index.js"></script>








<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: '2018-03-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        {
          title: 'Long Event',
          start: '2018-03-07',
          end: '2018-03-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2018-03-11',
          end: '2018-03-13'
        },
        {
          title: 'Meeting',
          start: '2018-03-12T10:30:00',
          end: '2018-03-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2018-03-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2018-03-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2018-03-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2018-03-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2018-03-28'
        }
      ]
    });

  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>