<img class="fondo2" src="img/fondohead-02.jpg" width="100%" height="10%" >

<div class="container-fluid">
    <div class="row mainlogin">
        <div class="row logotipo">
            <img class="logologin" src="img/logo.jpg" width="10%" height="10%" >
        </div>
        
        <p class="texto">Es hora de lograr tus deseos, <strong>nosotros te ayudamos </strong> a conseguir tu objetivo</p>
        <button type="button" id="empezar" class="btn btn-outline-light">¡Quiero lograr mis propósitos!</button>
      
        {{!-- Form para iniciar sesión --}}
        <div class="row formularios">
            <form id="iniciar-sesion">
                <div class="form-group">
                    <label for="formGroupExampleInput">Usuario</label>
                    <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputPassword4">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
                </div>
                <button id="ingresar" type="submit" class="btn btn-outline-light">Ingresar</button>
                <button id="no-estoy-registrado" class="btn btn-dark">Quiero registrarme</button>
            </form>
           
       

            {{!-- Form para registrarse --}}
            <form id="registrarse">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="usuario">Usuario</label>
                        <input type="usuario" class="form-control" id="usuario" placeholder="Usuario">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="nombre">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="apellido-materno">Apellido Materno</label>
                        <input type="apellido-materno" class="form-control" id="apellido-materno" placeholder="Apellido Materno">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido-paterno">Apellido Paterno</label>
                        <input type="apellido-paterno" class="form-control" id="apellido-paterno" placeholder="apellido-paterno">
                    </div>
                </div>
                 <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="correo">Correo</label>
                        <input type="correo" class="form-control" id="correo" placeholder="correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefono">Teléfono</label>
                        <input type="telefono" class="form-control" id="telefono" placeholder="telefono">
                    </div>
                </div>      
                <button id="boton-registro" type="submit" class="btn btn-outline-light">Registrarse</button>
            </form>

        </div>
    
    </div>
</div>


<script src="/js/login.js"></script>