.container{
  width: 100%;
  margin: auto;


}

.header{
  height: 67px;
  padding-left: 2%;
}

.todos{
  margin: auto;
  width: 100%;
}


.titulotodos{
 
  color: #4aad2a;
}

.titulocalendar{
  margin-top: -131px;
  color: #4aad2a;
}


.propositos{
  background: linear-gradient( rgba(74, 173, 42, 0.88), rgba(74, 173, 42, 0.42) ), 
  url(https://cdn141.picsart.com/264452433002202.jpg?r1024x1024);




  

}

.current{
  background-color: #4aad2a;
  margin-top: 1px;
  padding-bottom: 19px;
}


h1 {
  font-family: 'Zilla Slab', serif;
  margin-top: 24px;
  font-size: 26px;
  color: #efefef;
  display: flex;
  width: 100%;
  align-items: center;
}

h1:before,
h1:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h1:after {
  margin: 0 0 0 20px;
}

.hparrafo{
  font-family: 'Cabin Condensed', sans-serif;
  margin: 0;
  font-size: 158%;
}

.h2parrafo{
  font-family: 'Cabin Condensed', sans-serif;
    margin: 0;
    font-size: 26px;
    color: #186300;
}

.h3parrafo{
  font-family: 'Cabin Condensed', sans-serif;
    margin: 0;
    font-size: 19px;
}


.espaciotitulo{
  width: 100%;
  height: 41px;
  margin: 0;
}

.espaciotitulotodos{
  width: 100%;
  height: 41px;
  margin: 0;
}

.listatodos{
  padding-left: 8%;
  height: 82%;
  width: 100%;
  border-right: 5px solid #883b3b;
}

.diaC, .mesC, .nombreusuario{
  font-family: 'Cabin Condensed', sans-serif;
}

.diaC, .mesC{
    margin: 0;
    font-size: 19px;
}

.diaC{
  font-size: 56px;
  height: 29%;
}

.mesC{
  font-size: 31px;
}

.current2{
  padding-left: 3%;
  height: 82%;
  width: 100%;
  border-right: 1px solid #348819;
}

.avatar{
  width: 24%;
  padding-right: 6%;
}

.nombreusuario{
  display: inline-block;
  font-size: 19px;
}

.aside{
  margin: 0;
  padding: 0;
  padding-right: 2%;

}

.progress{
  margin-bottom: 9%;
}

.progress-bar{
  background-color: #2f611e; 
}

.listadoproposito{
  width: 100%;
  margin: auto;
}

.barraprogreso{
  padding-top: 2%;
}


.badge{
  float: left;
  margin-top: 3%;
  margin-right: 3%;
  width: 19%;
  border-style: solid;
  border-width: 2px;
}

body{

  background-image: url("https://www.transparenttextures.com/patterns/dust.png");

}